.box{
    display:flex;
    flex-direction:row;
    justify-content:space-between ;
    width:$width-high;
    background-color: white;
    margin:10px;
    cursor: pointer;
    height:$box-height;
    border-right: 0rem solid $color-tertiary;

    transition: all 900ms;
    &:hover{
        border-right-width:80px;
    }
    
    @include border-radius($box-dim-border);
    box-sizing: border-box;

    &__check{
        // background-color: $color-tertiary;
        height: $box-height;
        width:0px; 
        // margin-right:-80px;
        @include flex-center;
        overflow: hidden;

        i{
            color:$color-writing-secondary;
            font-size:1.3rem;
            transition: all 900ms ;
            transform: rotate(-180deg);
            overflow:hidden;
            
            position:relative;
            right:0;
            
        }
        transition: allwidth 900ms 250ms;        
    }

    

    &__description {
        width:100%;
        padding: 10px $margin-mobile;
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        overflow:hidden;


        

        h3{
            font-size: 1.2rem;
            font-weight: bold;
            @include tronc-mots
        }
        
        div{
            display:flex;
            flex-direction:row;
            justify-content:space-between ;
            align-items: stretch;
            
            

            p:nth-child(1){
                font-size: 1rem;
                @include tronc-mots
            }
            p:nth-child(2){
                font-size: 1rem;
                font-weight: bold;

            }
        
        }

        &:hover + .box__check{
            
            width:80px; 
            overflow: hidden;
            margin-right:-80px;
            i{
                transform: rotate(0deg);
                font-size:1.3rem;
                overflow: hidden;
                
            }
        }
        
        
    }
}
.menu{
    width:100%;
    background-color: $color-background;
    > div{
        display:flex;
        flex-direction:row;
        justify-content:space-between ;
        align-items: center;
        margin-top:0px;
        width:$width-high;
        margin:0px $margin-mobile;
        
        i{
            font-size: 1.8rem;
            margin-right:$margin-mobile / 2;
            cursor: pointer;
            background-color: $color-secondary;
            
            // background-clip: text;
            // opacity: 0;
            // transition: all 900ms;
            // &:hover{
            //     opacity: 1;
            // }


        }
        h1{
            font-size: 1.8rem;
            margin-left:$margin-mobile / 2;
        }
        
    }
    section{
        display:flex;
        flex-direction:column;
        justify-content:space-between ;
        align-items: center;
        margin:2rem 0px;
        &:last-child{
            margin-bottom:0px;
            padding-bottom: 60px;
        }
    }
    h2{
        width:$width-high - $margin-mobile;
        
        
    }
    
}

.background{
    
    display:flex;
    flex-direction:column;
    justify-content:space-between ;
    align-items: center;
    &__liseret{
        width:100%;
        height:40px;
        border-radius:50px 50px 0px 0px;
        background-color:$color-background;
    }
    &--dim-menu{
        height:310px;
    }
    &--dim-index{
        height:150px;
        width:100%;
        article{
            width:100%;
            //height:250px;
        }
    }
}

.trait{
    width:45px;
    border-bottom: $color-tertiary 3px solid;
    height:6px;
    align-self: flex-start;
    margin:0px 0px 5px $margin-mobile + $margin-mobile / 2;
}
