.box{
    display:flex;
    flex-direction:row;
    justify-content:space-between ;
    width:$width-high;
    background-color: white;
    margin:10px;
    cursor: pointer;
    height:$box-height;
    
    

    
    
    &:hover{
        .box__check{
            // animation: translate-coche 1s both;
            width: 140px ;
            
            i{
                animation: rotate-coche 1s forwards;
                
            }
        }
    }
 
    @include border-radius($box-dim-border);
    overflow: hidden;
    &__check{
        height: $box-height;
        width:2 *$margin-mobile;
        @include flex-center;
        overflow: hidden;
        background-color: $color-tertiary;
        transition: width 1s;
        overflow: hidden;
        z-index:3;
        margin-right:- 2 * $margin-mobile;
        margin-left:  $margin-mobile;


        i{
            color:$color-writing-secondary;
            font-size:1.3rem;
            overflow: hidden;
            position:relative;
            right: 3.5* $margin-mobile;

            
            
        }     
    }

    

    &__description {
        width:100%;
        padding: 10px $margin-mobile;
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        overflow:hidden;


        

        h3{
            font-size: 1.2rem;
            font-weight: bold;
            @include tronc-mots
        }
        
        div{
            display:flex;
            flex-direction:row;
            justify-content:space-between ;
            align-items: stretch;
            
            

            p:nth-child(1){
                font-size: 1rem;
                @include tronc-mots
            }
            p:nth-child(2){
                font-size: 1rem;
                font-weight: bold;

            }
        
        }

        
        
    }
}
.menu{
    width:100%;
    background-color: $color-background;
    
    > div{
        display:flex;
        flex-direction:row;
        justify-content:space-between ;
        align-items: center;
        margin-top:0px;
        width:$width-high;
        margin:0px $margin-mobile;
        
        i{
            font-size: 1.8rem;
            margin-right:$margin-mobile / 2;
            cursor: pointer;
        }
        h1{
            font-size: 1.8rem;
            margin-left:$margin-mobile / 2;
        }
        
    }
    section{
        display:flex;
        flex-direction:column;
        justify-content:space-between ;
        align-items: center;
        margin:2rem 0px;
        &:last-child{
            margin-bottom:0px;
            padding-bottom: 60px;
        }
    }
    h2{
        width:$width-high - $margin-mobile;   
    }
    
}

.background{
    width:100%;
    overflow: hidden;
    
    &__liseret{
        width:100%;
        height:40px;
        
        background-color:$color-background;
    }
    &--dim-menu{
        height:230px;
        display:flex;
        flex-direction:column;
        justify-content:space-between ;
        align-items: center;
        
    }
    &--dim-index{
        
        height:174px;
        border-radius: $box-dim-border $box-dim-border 0px 0px ;
        display:flex;
        flex-direction:row;
        justify-content:flex-end ;
        align-items:flex-start;
        background-position-y:-50px;
        
        

        > p{
            position:relative;
            right : 10px;
            top:15px;
            font-size:0.95rem;
            font-weight: bold;
            background-color: $color-tertiary;
            color:darken($color-tertiary,40%);
            border-radius: 1px;
            width:80px;
            height:30px;
            @include flex-center;
        }
        
    }
}

.trait{
    width:45px;
    border-bottom: $color-tertiary 3px solid;
    height:6px;
    align-self: flex-start;
    margin:0px 0px 5px $margin-mobile + $margin-mobile / 2;
}

.coeur{
    display:flex;
    flex-direction:column;
    justify-content:flex ;
    &:hover{
        > .coeur--vide{
            opacity: 0;
        }
        > .coeur--plein{
            opacity: 1;
        }
    }

    &--vide{
        position:absolute;
        z-index:3;
        transition: opacity 450ms;
    }
    &--plein{
        opacity: 0;
        z-index:2;
        color:$color-secondary;
        transition: opacity 450ms ease-in-out;
        // background-color: red;
    }
}
