@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.menu1 .background {
  background: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}

.menu2 .background {
  background: url("../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}

.menu3 .background {
  background: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}

.menu4 .background {
  background: url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}

@keyframes rotate-coche {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotate-coche2 {
  0% {
    transform: rotate(-360deg);
  }
  5% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
}

h1 {
  font-family: "Shrikhand", cursive;
}

.btn {
  border-radius: 2rem;
  box-shadow: 0px 5px 10px #bfbfbf;
  color: #fff;
  background: linear-gradient(#FF79DA, #9356DC);
  height: 50px;
  min-width: 120px;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 300ms;
  cursor: pointer;
  padding: 0px 25px;
}
.btn:hover {
  opacity: 0.9;
  box-shadow: 0px 5px 10px #737373;
}

.header {
  height: 4rem;
  padding-top: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
.header__logo {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo img {
  height: 30px;
}
.header a {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.header i {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  color: #fff;
  background: #333333;
  height: 200px;
  width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  padding-left: 5.25%;
  padding-bottom: 20px;
}
.footer h2 {
  font-family: "Shrikhand", cursive;
  padding: 30px 0px 10px 0px;
  font-size: 1.5rem;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.footer ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.footer li {
  margin: 5px 0px;
}
.footer i {
  width: 20px;
  margin-right: 5px;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 93%;
  background-color: white;
  margin: 10px;
  cursor: pointer;
  height: 65px;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px #bfbfbf;
  overflow: hidden;
}
.box:hover .box__check {
  width: 100px;
}
.box:hover .box__check i {
  animation: rotate-coche 1s forwards;
}
.box:hover i {
  animation: rotate-coche2 1s forwards;
}
.box > i {
  color: #fff;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 45px;
}
.box__check {
  height: 65px;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #99E2D0;
  transition: width 1s;
}
.box__check i {
  color: #fff;
  font-size: 1.3rem;
  overflow: hidden;
}
.box__description {
  width: 100%;
  padding: 10px 3.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}
.box__description h3 {
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box__description div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.box__description div p:nth-child(1) {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box__description div p:nth-child(2) {
  font-size: 1rem;
  font-weight: bold;
}

.menu {
  width: 100%;
  background-color: #F2F2F2;
  z-index: 1;
  margin-top: -30px;
  border-radius: 30px 30px 0 0;
}
.menu > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  margin: 0px 3.5%;
  padding-top: 20px;
}
.menu > div i {
  font-size: 1.8rem;
  margin-right: 1.75%;
  cursor: pointer;
}
.menu > div h1 {
  font-size: 1.8rem;
  margin-left: 1.75%;
}
.menu section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0px;
}
.menu section:last-child {
  margin-bottom: 0px;
  padding-bottom: 60px;
}
.menu h2 {
  width: 89.5%;
}

.background {
  width: 100%;
  z-index: 2;
}
.background--dim-menu {
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.background--dim-index {
  min-height: 174px;
  border-radius: 1rem 1rem 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
.background--dim-index > p {
  position: relative;
  right: 10px;
  top: 15px;
  font-size: 0.95rem;
  font-weight: bold;
  background-color: #99E2D0;
  color: #278870;
  border-radius: 1px;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trait {
  width: 45px;
  border-bottom: #99E2D0 3px solid;
  height: 6px;
  align-self: flex-start;
  margin: 0px 0px 5px 5.25%;
}

.coeur {
  display: flex;
  flex-direction: column;
  justify-content: flex;
}
.coeur:hover > .coeur--vide {
  opacity: 0;
}
.coeur:hover > .coeur--plein {
  opacity: 1;
}
.coeur--vide {
  position: absolute;
  z-index: 3;
  transition: opacity 450ms;
}
.coeur--plein {
  opacity: 0;
  z-index: 2;
  color: #FF79DA;
  transition: opacity 450ms ease-in-out;
}

.index {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.index__reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F2F2F2;
  padding-bottom: 30px;
}
.index__fonctionnement {
  background-color: white;
  padding: 30px 0px;
}
.index__fonctionnement div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.index__restaurants {
  background-color: #F2F2F2;
  padding: 30px 0px;
}
.index ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.index h2 {
  margin: 0px 3.5%;
}
.index .recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #d9d9d9;
  width: 100%;
  padding: 10px;
}
.index .recherche i {
  margin-right: 10px;
}
.index .reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 30px;
}
.index .reservation h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  margin: 15px 30px 10px 30px;
}
.index .reservation p {
  text-align: center;
  margin-bottom: 20px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 3.5%;
  width: 93%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px #bfbfbf;
  height: 250px;
}
.restaurant__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant__description > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem 1rem;
  font-size: 1rem;
}
.restaurant__description > p {
  margin: 1rem 1rem;
  font-size: 1.5rem;
}

.fonctionnement {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 93% -- 6px;
  height: 75px;
  border-radius: 1.3rem;
  box-shadow: 0px 5px 10px #bfbfbf;
  margin: 12px 3.5% 12px 7%;
}
.fonctionnement__indice {
  margin-right: 10px;
  width: 24px;
  min-width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 12px;
  font-size: 0.9rem;
}
.fonctionnement i {
  margin-right: 25px;
  width: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.fonctionnement--color {
  background-color: #e4d5f6;
}
.fonctionnement--color i {
  color: #9356DC;
}
.fonctionnement--nocolor {
  background-color: #F2F2F2;
}
.fonctionnement--nocolor i {
  color: #737373;
}

p, h1, h2, h3 {
  margin: 0px;
}

/*# sourceMappingURL=style.css.map */
