@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.menu1 .background {
  background: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") no-repeat scroll center;
  background-size: cover;
}

.menu2 .background {
  background: url("../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") no-repeat scroll center;
  background-size: cover;
}

.menu3 .background {
  background: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") no-repeat scroll center;
  background-size: cover;
}

.menu4 .background {
  background: url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") no-repeat scroll center;
  background-size: cover;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: small;
}

h1 {
  font-family: "Shrikhand", cursive;
}

.btn {
  border-radius: 2rem;
  box-shadow: 0px 5px 10px grey;
  color: #fff;
  background: linear-gradient(#FF79DA, #9356DC);
  height: 50px;
  width: 185px;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}

.header {
  height: 4rem;
  padding-top: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
.header__logo {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo img {
  height: 30px;
}
.header a {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.header i {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  color: #fff;
  background: black;
  height: 200px;
  width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  padding-left: 5.25%;
  padding-bottom: 20px;
}
.footer h2 {
  font-family: "Shrikhand", cursive;
  padding: 30px 0px 10px 0px;
  font-size: 1.5rem;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.footer ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.footer li {
  margin: 5px 0px;
}
.footer i {
  width: 20px;
  margin-right: 5px;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 93%;
  background-color: white;
  margin: 10px;
  cursor: pointer;
  height: 65px;
  border-right: 0rem solid #99E2D0;
  transition: all 900ms;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px grey;
  box-sizing: border-box;
}
.box:hover {
  border-right-width: 80px;
}
.box__check {
  height: 65px;
  width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: allwidth 900ms 250ms;
}
.box__check i {
  color: #fff;
  font-size: 1.3rem;
  transition: all 900ms;
  transform: rotate(-180deg);
  overflow: hidden;
  position: relative;
  right: 0;
}
.box__description {
  width: 100%;
  padding: 10px 3.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}
.box__description h3 {
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box__description div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.box__description div p:nth-child(1) {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box__description div p:nth-child(2) {
  font-size: 1rem;
  font-weight: bold;
}
.box__description:hover + .box__check {
  width: 80px;
  overflow: hidden;
  margin-right: -80px;
}
.box__description:hover + .box__check i {
  transform: rotate(0deg);
  font-size: 1.3rem;
  overflow: hidden;
}

.menu {
  width: 100%;
  background-color: #F2F2F2;
}
.menu > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  width: 93%;
  margin: 0px 3.5%;
}
.menu > div i {
  font-size: 1.8rem;
  margin-right: 1.75%;
  cursor: pointer;
  background-color: #FF79DA;
}
.menu > div h1 {
  font-size: 1.8rem;
  margin-left: 1.75%;
}
.menu section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0px;
}
.menu section:last-child {
  margin-bottom: 0px;
  padding-bottom: 60px;
}
.menu h2 {
  width: 89.5%;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.background__liseret {
  width: 100%;
  height: 40px;
  border-radius: 50px 50px 0px 0px;
  background-color: #F2F2F2;
}
.background--dim-menu {
  height: 310px;
}
.background--dim-index {
  height: 150px;
  width: 100%;
}
.background--dim-index article {
  width: 100%;
}

.trait {
  width: 45px;
  border-bottom: #99E2D0 3px solid;
  height: 6px;
  align-self: flex-start;
  margin: 0px 0px 5px 5.25%;
}

p, h1, h2, h3 {
  margin: 0px;
}

/*# sourceMappingURL=style.css.map */
