@keyframes rotate-coche {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotate-coche2 {
  0% {
    transform: rotate(-360deg);
  }
  5% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes white-page {
  0% {
    opacity: 0;
    z-index: -1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}
@keyframes box {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}
body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("../fonts/Roboto-Regular.ttf");
}
body {
  font-family: "Roboto", sans-serif;
  color: black;
}

h1 {
  font-family: "Shrikhand", cursive;
}

.btn {
  border-radius: 2rem;
  box-shadow: 0px 5px 10px #bfbfbf;
  color: #fff;
  background: linear-gradient(#FF79DA, #9356DC);
  height: 50px;
  min-width: 120px;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 300ms;
  cursor: pointer;
  padding: 0px 25px;
}
.btn:hover {
  opacity: 0.9;
  box-shadow: 0px 5px 10px #737373;
}

.header {
  height: 4rem;
  padding-top: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
.header__logo {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo img {
  height: 30px;
}
.header a {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.header i {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  color: #fff;
  background: #333333;
  height: 200px;
  width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  padding-left: 5.25%;
  padding-bottom: 20px;
}
.footer h2 {
  font-family: "Shrikhand", cursive;
  padding: 30px 0px 10px 0px;
  font-size: 1.5rem;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.footer ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.footer li {
  margin: 5px 0px;
}
.footer i {
  width: 20px;
  margin-right: 5px;
}

.menu1 .background {
  background: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}

.menu2 .background {
  background: url("../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}

.menu3 .background {
  background: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}

.menu4 .background {
  background: url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 93%;
  background-color: white;
  margin: 10px;
  cursor: pointer;
  height: 65px;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px #bfbfbf;
  overflow: hidden;
}
@media screen and (min-width: 570px) {
  .box {
    width: 520px;
  }
}
@media screen and (min-width: 740px) {
  .box {
    width: 93%;
  }
}
.box:hover .box__check {
  width: 100px;
}
.box:hover .box__check i {
  animation: rotate-coche 1s forwards;
}
.box:hover i {
  animation: rotate-coche2 1s forwards;
}
.box > i {
  color: #fff;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 45px;
}
.box__check {
  height: 65px;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #99E2D0;
  transition: width 1s;
}
.box__check i {
  color: #fff;
  font-size: 1.3rem;
  overflow: hidden;
}
.box__description {
  width: 100%;
  padding: 10px 3.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}
.box__description h3 {
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}
.box__description div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.box__description div p:nth-child(1) {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box__description div p:nth-child(2) {
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  left: 10px;
}

.menu {
  width: 100%;
  background-color: #F2F2F2;
  margin-top: -30px;
  border-radius: 30px 30px 0 0;
}
@media screen and (min-width: 740px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
}
.menu > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  margin: 0px 3.5%;
  padding-top: 20px;
}
@media screen and (min-width: 740px) {
  .menu > div {
    justify-content: center;
    margin: 0px;
    width: 100%;
  }
  .menu > div i {
    margin: 0 30px;
  }
  .menu > div h1 {
    margin: 0 30px;
  }
}
.menu > div i {
  font-size: 1.8rem;
  margin-right: 1.75%;
  cursor: pointer;
}
.menu > div h1 {
  font-size: 1.8rem;
  margin-left: 1.75%;
}
.menu section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0px;
}
.menu section:last-child {
  margin-bottom: 0px;
  padding-bottom: 60px;
}
@media screen and (min-width: 740px) {
  .menu section:last-child {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 740px) {
  .menu section:last-child {
    width: 100%;
  }
}
@media screen and (min-width: 740px) {
  .menu section {
    width: 47%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .menu section {
    width: 30%;
  }
}
.menu h2 {
  width: 89.5%;
  text-transform: uppercase;
  font-family: "Roboto", cursive;
  font-weight: normal;
}

.background {
  width: 100%;
}
.background--dim-menu {
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .background--dim-menu {
    height: 330px;
  }
}
.background--dim-index {
  min-height: 174px;
  border-radius: 1rem 1rem 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
.background--dim-index > p {
  position: relative;
  right: 10px;
  top: 15px;
  font-size: 0.95rem;
  font-weight: bold;
  background-color: #99E2D0;
  color: #278870;
  border-radius: 1px;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trait {
  width: 45px;
  border-bottom: #99E2D0 3px solid;
  height: 6px;
  align-self: flex-start;
  margin: 0px 0px 5px 5.25%;
}

.coeur {
  z-index: -1;
  animation: menu 1s 3s cubic-bezier(0.03, 0.57, 0.97, 0.6) both;
  display: flex;
  flex-direction: column;
}
.coeur:hover > .coeur--vide {
  opacity: 0;
}
.coeur:hover > .coeur--plein {
  opacity: 1;
}
.coeur--vide {
  position: absolute;
  z-index: 3;
  transition: opacity 450ms;
}
.coeur--plein {
  opacity: 0;
  z-index: 1;
  color: #9356DC;
  transition: opacity 450ms ease-in-out;
}

.menu {
  overflow: hidden;
}
.menu section {
  z-index: 2;
  overflow: hidden;
}
.menu section:nth-child(2) {
  z-index: -1;
  animation: menu 1s 0s cubic-bezier(0.66, 0.34, 0.22, 0.93) both;
}
.menu section:nth-child(2) article:nth-child(3) {
  z-index: -1;
  animation: box 800ms 0ms ease-out both;
}
.menu section:nth-child(2) article:nth-child(4) {
  z-index: -1;
  animation: box 800ms 400ms ease-out both;
}
.menu section:nth-child(2) article:nth-child(5) {
  z-index: -1;
  animation: box 800ms 800ms ease-out both;
}
.menu section:nth-child(2) article:nth-child(6) {
  z-index: -1;
  animation: box 800ms 1200ms ease-out both;
}
.menu section:nth-child(3) {
  z-index: -1;
  animation: menu 1s 1s cubic-bezier(0.66, 0.34, 0.22, 0.93) both;
}
.menu section:nth-child(3) article:nth-child(3) {
  z-index: -1;
  animation: box 800ms 1000ms ease-out both;
}
.menu section:nth-child(3) article:nth-child(4) {
  z-index: -1;
  animation: box 800ms 1400ms ease-out both;
}
.menu section:nth-child(3) article:nth-child(5) {
  z-index: -1;
  animation: box 800ms 1800ms ease-out both;
}
.menu section:nth-child(3) article:nth-child(6) {
  z-index: -1;
  animation: box 800ms 2200ms ease-out both;
}
.menu section:nth-child(4) {
  z-index: -1;
  animation: menu 1s 2s cubic-bezier(0.66, 0.34, 0.22, 0.93) both;
}
.menu section:nth-child(4) article:nth-child(3) {
  z-index: -1;
  animation: box 800ms 2000ms ease-out both;
}
.menu section:nth-child(4) article:nth-child(4) {
  z-index: -1;
  animation: box 800ms 2400ms ease-out both;
}
.menu section:nth-child(4) article:nth-child(5) {
  z-index: -1;
  animation: box 800ms 2800ms ease-out both;
}
.menu section:nth-child(4) article:nth-child(6) {
  z-index: -1;
  animation: box 800ms 3200ms ease-out both;
}
.menu section:nth-child(5) {
  z-index: -1;
  animation: menu 1s 3s cubic-bezier(0.66, 0.34, 0.22, 0.93) both;
}
.menu section:nth-child(5) article:nth-child(3) {
  z-index: -1;
  animation: box 800ms 3000ms ease-out both;
}
.menu section:nth-child(5) article:nth-child(4) {
  z-index: -1;
  animation: box 800ms 3400ms ease-out both;
}
.menu section:nth-child(5) article:nth-child(5) {
  z-index: -1;
  animation: box 800ms 3800ms ease-out both;
}
.menu section:nth-child(5) article:nth-child(6) {
  z-index: -1;
  animation: box 800ms 4200ms ease-out both;
}

.non_utile {
  display: none;
}

.index {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.index__reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F2F2F2;
  padding-bottom: 30px;
}
.index__fonctionnement {
  background-color: white;
  padding: 30px 0px;
}
.index__fonctionnement div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
@media screen and (min-width: 740px) {
  .index__fonctionnement div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.index__restaurants {
  background-color: #F2F2F2;
  padding: 30px 0px;
}
@media screen and (min-width: 570px) {
  .index__restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 570px) {
  .index__restaurants h2 {
    width: 100%;
  }
}
@media screen and (min-width: 570px) {
  .index__restaurants a {
    width: 47%;
  }
}
@media screen and (min-width: 1240px) {
  .index__restaurants a {
    width: 22%;
  }
}
.index ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.index h2 {
  margin: 0px 3.5%;
  font-family: "Roboto", cursive;
  font-weight: bold;
}
.index .recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #d9d9d9;
  width: 100%;
  padding: 10px;
}
.index .recherche i {
  margin-right: 10px;
}
.index .reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 30px;
}
.index .reservation h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  margin: 15px 30px 10px 30px;
}
.index .reservation p {
  text-align: center;
  margin-bottom: 20px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 3.5%;
  width: 93%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px #bfbfbf;
  height: 250px;
}
.restaurant__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant__description > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem 1rem;
  font-size: 1rem;
}
.restaurant__description > p {
  margin: 1rem 1rem;
  font-size: 1.5rem;
}

.fonctionnement {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 93% -- 6px;
  height: 75px;
  border-radius: 1.3rem;
  box-shadow: 0px 5px 10px #bfbfbf;
  margin: 12px 3.5% 12px 7%;
}
@media screen and (min-width: 740px) {
  .fonctionnement {
    margin: 12px 10px;
    width: 30%;
  }
}
.fonctionnement__indice {
  margin-right: 10px;
  width: 24px;
  min-width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 12px;
  font-size: 0.9rem;
}
@media screen and (min-width: 740px) {
  .fonctionnement__indice {
    margin-right: -5px;
  }
}
.fonctionnement i {
  margin-right: 25px;
  width: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
@media screen and (min-width: 740px) {
  .fonctionnement i {
    margin-right: 10px;
  }
}
.fonctionnement--color {
  background-color: #e4d5f6;
}
.fonctionnement--color i {
  color: #9356DC;
}
.fonctionnement--nocolor {
  background-color: #F2F2F2;
}
.fonctionnement--nocolor i {
  color: #737373;
}
.fonctionnement p {
  font-weight: bold;
}

.loading-spinner {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: white-page 500ms linear forwards;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: reverse;
}
.loading-spinner > div {
  width: 80px;
  height: 80px;
  transform: scale(2);
}
.loading-spinner > div > div {
  transform-origin: 40px 40px;
  animation: spinner 1.2s linear;
  animation-iteration-count: 2;
}
.loading-spinner > div > div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #99E2D0;
}
.loading-spinner > div > div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.loading-spinner > div > div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.loading-spinner > div > div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.loading-spinner > div > div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.loading-spinner > div > div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.loading-spinner > div > div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.loading-spinner > div > div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.loading-spinner > div > div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.loading-spinner > div > div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.loading-spinner > div > div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.loading-spinner > div > div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.loading-spinner > div > div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

p, h1, h2, h3 {
  margin: 0px;
}

/*# sourceMappingURL=style.css.map */
