.btn {
    @include border-radius(2rem);
    color: $color-writing-secondary;
    background: linear-gradient($color-secondary, $color-primary);
    height: 50px;
    width:185px;
    font-size: 1.1rem;
    font-weight: bold;
    @include flex-center;
    &:hover{
        opacity:0.9;
    }
    cursor: pointer;
}
