@font-face 
{
	font-family: "Shrikhand";
	src: url('../fonts/Shrikhand-Regular.ttf');
}
@font-face 
{
	font-family: "Roboto";
	src: url('../fonts/Roboto-Thin.ttf');
}
@font-face 
{
	font-family: "Roboto";
	font-weight: bold;
	src: url('../fonts/Roboto-Regular.ttf');
}

body {
    font-family: 'Roboto', sans-serif;
    color: $color-writing-primary;
    // font-size:small;
}
//
h1 {
    font-family: 'Shrikhand', cursive;
}

