@keyframes translate-coche{
    0%{
        width:0px;
    }
    100%{
        width:$box-height;
    }
}
@keyframes rotate-coche{
    0%{
       
        transform:rotate(-360deg)
    }
    100%{
        transform:rotate(0deg);
    }
}